<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wnpbobyhf@tznvy.pbz</string>
	<key>contactName</key>
	<string>Jacob Rus</string>
	<key>description</key>
	<string>&lt;a href="http://www.mediawiki.org/wiki/MediaWiki"&gt;MediaWiki&lt;/a&gt; (inc. Wikipedia) support for TextMate.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>14214BAC-FCF6-4F10-9CAD-F24A8B2BB278</string>
			<string>------------------------------------</string>
			<string>F8E691BD-3B5E-40C9-B306-E5907633EB29</string>
			<string>ACE12738-B468-4090-BB0E-5725D37562FC</string>
			<string>BFB42080-B1C4-439F-B8CC-CB4859C819F0</string>
			<string>25A5AD36-CEF3-4BCA-9ACB-4E69F8474F45</string>
			<string>9D7A0D11-2B89-44E0-99D7-1EEAA60D9863</string>
			<string>------------------------------------</string>
			<string>873BDE02-80C9-44F4-910B-234EF7702D01</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>14214BAC-FCF6-4F10-9CAD-F24A8B2BB278</key>
			<dict>
				<key>items</key>
				<array>
					<string>CB4A4D35-3068-4EA5-BC46-92A32278FC7F</string>
					<string>1F45179D-C2A1-4239-B378-003FF99D7526</string>
					<string>CD2330E1-14A4-428D-9106-F3C114920E22</string>
					<string>97042E83-482A-41E0-8044-B8B23457A0BB</string>
				</array>
				<key>name</key>
				<string>Format</string>
			</dict>
			<key>F8E691BD-3B5E-40C9-B306-E5907633EB29</key>
			<dict>
				<key>items</key>
				<array>
					<string>A9BA7C12-8A03-40A5-9C0A-66BD66CA0E78</string>
					<string>C7713023-5FF9-4200-8340-3542358A64F8</string>
					<string>AC7DCA0B-7E2A-4FDA-80B7-C70E94A828F5</string>
					<string>EF9324E4-D4DF-45EE-A21D-3182BEA323BD</string>
					<string>0FBF756C-651C-4AFC-92A2-9E229F5E3775</string>
				</array>
				<key>name</key>
				<string>Headings</string>
			</dict>
			<key>ACE12738-B468-4090-BB0E-5725D37562FC</key>
			<dict>
				<key>items</key>
				<array>
					<string>BB36CDF4-4D40-449A-B1DA-7813798DA3B8</string>
					<string>6BFE350B-6616-48A1-96DE-7986D7779E11</string>
					<string>0BDA6124-1DAE-49FA-875A-ED5DEC6639D2</string>
				</array>
				<key>name</key>
				<string>Lists</string>
			</dict>
			<key>BFB42080-B1C4-439F-B8CC-CB4859C819F0</key>
			<dict>
				<key>items</key>
				<array>
					<string>C1BCD487-9A96-48FB-BA13-508A34A02094</string>
					<string>08B81017-93C6-45D3-A3FD-A9143E6C32B0</string>
					<string>9A70379A-6602-4FA1-BF92-6E8379CC5B91</string>
				</array>
				<key>name</key>
				<string>Links</string>
			</dict>
			<key>25A5AD36-CEF3-4BCA-9ACB-4E69F8474F45</key>
			<dict>
				<key>items</key>
				<array>
					<string>C9B8FF0E-2336-4FC9-9A02-391C516BEED1</string>
					<string>0F9934D8-DE67-4473-A6A8-52540BCC8FEA</string>
					<string>------------------------------------</string>
					<string>2ACC7FC8-AF68-48FA-AB6D-6B383149CDD6</string>
					<string>F02C60C7-9978-4FBB-B53D-AE872A05A765</string>
				</array>
				<key>name</key>
				<string>Tables</string>
			</dict>
			<key>9D7A0D11-2B89-44E0-99D7-1EEAA60D9863</key>
			<dict>
				<key>items</key>
				<array>
					<string>348FDDDD-FE36-487B-ABFD-7FE322A0DA93</string>
					<string>A16917C4-776F-49D7-B1DB-B277A05540BB</string>
					<string>054F815A-0764-4398-B227-57463918E43A</string>
					<string>FC973614-A03B-43EE-8F59-64C9E7122358</string>
					<string>DADDBEEB-4411-4561-B091-1019382BFAB9</string>
					<string>F36B4588-8104-4A78-8821-188468DB406D</string>					
					<string>------------------------------------</string>
					<string>95BA5BBC-AFF7-4776-BC90-E7344B4A1DF4</string>
					<string>------------------------------------</string>
					<string>2D48FEFB-131B-42CE-9BA5-F478CDE6B4AD</string>
					<string>82818008-054C-451E-85F1-DD433AE697F0</string>
				</array>
				<key>name</key>
				<string>References</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Mediawiki</string>
	<key>uuid</key>
	<string>64C4222F-7054-4A26-B91E-A82F53166142</string>
</dict>
</plist>
